body.page-template-about {

	section#hero {

		@include tablet-portrait {

			&:after {
				clip-path: polygon(0 0, 22% 0, 25% 50px, 75% 50px, 78% 0, 100% 0, 100% 100%, 0 100%);
			}
		}

		@include svg-header;

		.notch {
			padding: 50px 0 25px 0;
			transform: translateY(50px);

			@include tablet-landscape {
				transform: translateY(100px);
			}

			p {
				text-transform: uppercase;
				font-weight: 900;
				color: $white;
				display: block;
				text-align: center;
			}
		}
	}

	section#facts {
		padding: 100px 0;

		.slide {
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;

			&:focus,
			&:active {
				outline: none;
			}

			h2 {
				font-weight: 900;
				font-size: 2em;
				padding: 0 0 20px 0;
				text-transform: uppercase;
				letter-spacing: 0.02em;

				@include tablet-portrait {
					font-size: 3.5em;
	
				}

				@include desktop {
					font-size: 5em;
				}
			}

			h3 {
				font-size: 1.5em;
				font-weight: 700;
				padding: 0 0 40px 0;
			}

			h4 {
				font-size: 1em;
				font-weight: bold;
			}
		}

		.slick-dots li button:before {
			background: $gold;
			box-shadow: none;
		}

		.slick-dots li.slick-active button:before {
			background: $blue;
		}

		.slick-prev,
		.slick-next {
			background-size: 100%;
			height: 66px;
			width: 36px;
			display: none;
			z-index: 1000;

			@include tablet-landscape {
				display: block;
			}
		}

		.slick-prev {
			background: url(images/prev-blue.png) no-repeat 0 0;
			left: -25px;

			@include desktop {
				left: -60px;
			}
		}

		.slick-next {
			background: url(images/next-blue.png) no-repeat 0 0;
			right: -25px;

			@include desktop {
				right: -60px;
			}
		}
	}

	section#content {
		background: $blue url(images/hero-bg.jpg) no-repeat top center;
		background-size: 100%;
		color: $white;
		@include tablet-portrait {
			clip-path: polygon(25% 0, 75% 0, 78% 50px, 100% 50px, 100% 100%, 0 100%, 0 50px, 22% 50px);
		}
	}

	section#companies {

		.company .bevel {
			border-color: $blue transparent transparent 
		}
	}

	section#companies,
	section#partners {
		padding: 50px 0;

		@include tablet-landscape {
			padding: 100px 0;
		}

		h4 {
			text-align: center;
			padding: 0 0 50px 0;
			font-weight: 900;
			font-size: 1.25em;
			letter-spacing: 0.03em;
			text-transform: uppercase;
		}
	}

	.companies-list-wrapper.partners {
		justify-content: space-between;
	}

	section#partners {

		@include tablet-landscape {
			h4 {
				transform: translateY(-50px);
				margin-bottom: -50px;

			}
		}
	}		

	.partner {
		width: 100%;
		margin: 0 0 100px 0;
		clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 5%);


		@include mobile-landscape {
			width: 47.5%;
		}

		@include tablet-landscape {
			width: 30%;
			margin: 0;
		}

		.logo {
			background: $white;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 40px;
			min-height: 240px;

			img {
				width: 100%;
			}
		}

		.info {
			padding: 40px 0 20px 0;
			margin: 0 0 20px 0;
			border-bottom: 1px solid $white;

			h3 {
				padding: 0 0 20px 0;
				font-size: 1.25em;
				font-weight: bold;

			}

			a.url {
				color: $gold;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: underline;
			}
		}

		.description {
			p {
				font-size: 1.125em;
				line-height: 1.6667em;
			}
		}
	}

	.cta {
		padding: 40px 0 0 0;
		text-align: center;
	}
}