body.post-type-archive-events {

	section#hero {
		@include tablet-portrait {

			&:after {
				clip-path: polygon(0 0, 22% 0, 25% 50px, 75% 50px, 78% 0, 100% 0, 100% 100%, 0 100%);
				bottom: -2px;
			}
		}

		@include svg-header;
	}

	.tabs {
		justify-content: center;
	}

	section#events-header {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.info {
			display: none;

			&.active {
				display: block;
			}

			h3 {
				text-transform: uppercase;
				letter-spacing: 0.02em;
				font-weight: 900;
				font-size: 2.25em;
				font-family: $united-sans-condensed;
				padding: 0 0 20px 0;
			}

			p {
				font-size: 1.125em;
				line-height: 1.25em;
				max-width: 640px;
			}
		}
	}

	section#events {
		section#response .event {
			opacity: 0;
			transition: all 0.1s ease-in-out;

			&.fade-in {
				opacity: 1;
			}
		}
	}

	.event {
		margin: 0 0 50px 0;





		&:focus,
		&:active {
			outline: none;
		}

		@include tablet-portrait {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 0 100px 0;

			.image {
				width: 47.5%;
			}

			.info {
				width: 47.5%;
			}

			&:nth-child(even) {
				.info {
					order: -1;
				}
			}
		}

		@include tablet-portrait {

			.image {
				width: 60%;
			}

			.info {
				width: 30%;
			}
		}

		.image {
			img {
				clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
			}
		}

		.info {
			padding: 20px 0;

			@include tablet-portrait {
				padding: 10px 0 0 0;	
			}

			h3 {
				font-weight: bold;
				font-family: $united-sans-condensed;
				font-size: 1.75em;
				padding: 0 0 5px 0;
				color: $blue;

				a {
					color: $blue;
				}
			}

			h4 {
				font-weight: bold;
				font-size: 1em;
				color: $blue;
			}

			.description {
				padding: 30px 0;

				p {
					font-size: 1em;
					line-height: 1.25em;
				}
			}

			a.read-more {
				display: inline-block;
				color: $blue;
				font-weight: bold;
				text-transform: uppercase;

				&:hover {
					text-decoration: underline;
				}
			}
		}

	}

	section#meetup {
		background: $blue;
		padding: 50px 0;
		@include tablet-portrait {
			clip-path: polygon(25% 0, 75% 0, 78% 50px, 100% 50px, 100% 100%, 0 100%, 0 50px, 22% 50px);
		}

		@include tablet-portrait {
			padding: 100px 0;
		}


		h4 {
			text-align: center;
			padding: 0 0 50px 0;
			font-weight: 900;
			font-size: 1.25em;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: $white;

			@include tablet-portrait {
				transform: translateY(-50px);
				margin-bottom: -50px;
			}

		}


		.meetup-event-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: stretch;
		}



		.meetup-event {
			padding: 50px;
			background: $white;
			margin-bottom: 20px;
			width: 100%;
			clip-path: polygon(0 10%, 10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
			display: none;

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6)    {
				display: block;
			}


			@include mobile-landscape {
				width: 47.5%;

			}

			@include tablet-landscape {
				width: 30.8333%;
				margin-bottom: 50px;
			}

			.date-header {
				display: flex;
				align-items: center;
				border-bottom: 1px solid $blue;

				.day {
					font-size: 3.5em;
					font-weight: 900;
				}
				.month {
					padding: 0 0 0 20px;
					font-size: 1.5em;
					text-transform: uppercase;
					letter-spacing: 0.02em;
					font-family: $united-sans-condensed;
				}
			}

			.info {
				padding: 20px 0;

				p.date {
					padding: 0 0 5px 0;

				}

				h3 {
					font-weight: 900;
					font-size: 1.25em;
					padding: 0 0 10px 0;
				}

				p.host {
					font-size: 0.875em;
					font-weight: bold;
				}

			}

			.details {
				padding: 40px 0 0 0;
			}

			.info + .details {
				padding: 20px 0 0 0;
			}

		}

		.cta {
			padding: 50px 0 0 0;
			text-align: center;
			opacity: 1;
			transition: all 0.2s ease-in-out;
		}

		&.opened {
			.cta {
				opacity: 0;
			}
		}

	}

}