body.post-type-archive-companies {
	
	section#hero {
		@include svg-header;

		.line {
			top: auto;
			bottom: -150px;
			right: 0;
			left: auto;
			z-index: 1;

			@include desktop {
				right: -100px;
			}

			.hotspot,
			.pulse {
				top: -25px;
				left: -25px;
				bottom: auto;
				z-index: 1000;
			}
		}
	}
	
	section#list {
		padding: 70px 0 0 0;

		.companies-list-wrapper {
			justify-content: space-between;			
		}

		.company-large {
			width: 100%;
			max-width: 100%;
			padding: 40px;
			margin: 0 0 50px 0;
			justify-content: flex-start;

			@include mobile-landscape {
				max-width: 47.5%;
			}

			@include tablet-landscape {
				max-width: 30%;
				min-height: 460px;
			}

			.logo {
				min-height: 65px;
				display: flex;
				justify-content: center;
				align-items: center;

				a {
					display: block;
					width: 100%;
				}
			}

			.info {
				padding: 40px 0;
				text-align: left;

				h3 {
					font-weight: 900;
				}

				.tagline {
					text-align: left;
					padding: 5px 0 0 0;

					p {
						font-size: 0.8125em;
						line-height: 1.25em;
					}
				}

				.description {
					padding: 25px 0 0 0;

					p {
						font-size: 0.875em;
						line-height: 1.25em;	
					}
				}
			}

			.links {
				text-align: left;

				.link {

					& + .link {
						padding: 20px 0 0 0;
					}
				}			
			}

			.border {
				height: 67px;
				left: 20px;
				top: -12px;
				z-index: 15;
			}

			.bevel {
				border-width: 50px 50px 0 0;
			}

			.color {
				border-width: 75px 75px 0 0;
			}

			.border-bottom {
				width: 3px;
				height: 67px;
				background: #eaeaea;
				transform: rotate(45deg);
				position: absolute;
				right: 20px;
				bottom: -12px;
				z-index: 15;
			}

			.bevel-bottom {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 50px 50px;
				border-color: transparent transparent #fff  transparent;
				position: absolute;
				right: -3px;
				bottom: -3px;
				z-index: 10;
			}
		}
	}
}