body.post-type-archive-careers {

	section#hero {
		&:after {
			display: none;
		}

		@include svg-header;

		.line {
			top: auto;
			bottom: -100px;
			right: 20px;
			left: auto;
			z-index: 1;

			@include desktop {
				right: -60px;
			}

			.hotspot,
			.pulse {
				top: -25px;
				left: -25px;
				bottom: auto;
				z-index: 1000;
			}
		}

	}

	section#filters {
		padding: 50px 0;


		h5 {
			font-weight: bold;
			font-size: 0.875em;
			text-align: center;
			padding: 0 0 20px 0;
		}

		.companies-dropdown {
			width: 240px;
			margin: 0 auto;
		}

		.selected {
			.item {
				border: 1px solid $blue;


				span {
					display: block;
					padding: 13px 15px 10px 15px;
					font-weight: 900;
					text-transform: uppercase;
					letter-spacing: 0.02em;
					font-size: 0.875em;
					color: $dark-blue;
					position: relative;

					&:after {
						background: url(images/dd-arrow.png) no-repeat 0 0;
						display: block;
						content: '';
						width: 16px;
						height: 16px;
						position: absolute;
						right: 15px;
						top: 50%;
						margin-top: -8px;
						transition: 0.2s ease-in-out;
					}

					&.open:after {
						transform: rotate(90deg);
					}


					&:hover {
						cursor: pointer;
					}
				}
			}
		}

		.list {
			border: 1px solid $light-gray;
			opacity: 0;
			overflow: hidden;
			background: $white;
			transition: 0.2s;
			position: absolute;
			
			width: 100%;
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


			&.open {
				opacity: 1;
				z-index: 1000;
			}

			.item {
				a {
					padding: 13px 15px 10px 15px;
					display: block;

					&:hover {
						background: $blue;
						color: $white;
					}
				}

			}
		}
	}

	section#results {
		h5 {
			padding: 0 0 5px 0;
			border-bottom: 1px solid $dark-blue;
			margin: 0 0 15px 0;
			text-transform: uppercase;
			font-weight: 900;
			letter-spacing: 0.02em;
			font-size: 1.25em;
		}

		.career {
			background: #eaeaea;
			padding: 18px 20px 18px 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;

			@include tablet-landscape {
				padding: 13px 15px 13px 20px;
			}

			& + .career {
				margin-top: 20px;
			}

			.link {
				width: 100%;
				padding: 0 0 20px 0;

				@include tablet-portrait {
					width: auto;
					flex: 1;
					padding: 0;
				}

				h4 {
					font-weight: 700;
					font-size: 1.25em;

					@include tablet-landscape {
						font-size: 1.5em;
						line-height: 48px;
					}


					a {
						display: inline-block;
						width: 100%;
						position: relative;
						

						span {
							max-width: calc(100% - 44px);
							display: inline-block;

							@include tablet-portrait {
								max-width: 90%;
							}
						}

						&:after {
							content: '';
							display: block;
							width: 24px;
							height: 24px;
							background: url(images/right-arrow-black.png) no-repeat 0 0;
							background-size: 100%;
							position: absolute;
							right: 0;
							top: 0;

							@include tablet-portrait {
								margin-right: 20px;
							}

							@include tablet-landscape {
								width: 47px;
								height: 47px;					
							}

						}
					}
				}
			}

			.meta {
				background: $white;
				padding: 20px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;

				@include tablet-portrait {
					width: 50%;
					max-width: 280px;
				}


				.logo {
					width: 100%;

					a {
						display: block;

						img {
							max-width: 90px;
							max-height: 40px;	
						}
											
					}
				}

				p {
					
				}

				.links {

					a {
						display: block;
						font-size: 0.75em;
						font-weight: bold;
						white-space: nowrap;
						text-transform: uppercase;
						letter-spacing: 0.01em;
						text-decoration: underline;

						& + a {
							margin: 10px 0 0 0;
						}
					}
				}
			}
		}

		.career.none {
			background: $white;
			padding: 18px 15px 13px 20px;
			border: 1px solid $red;
			margin-top: 50px;

			h4 {
				color: $red;
				font-weight: normal;
			}
		}
	}


}