body.post-type-archive-news {

	section#list {
		padding: 100px 0 0 0;

		.news {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			& + .news {
				margin-top: 100px;
			}

			.image {
				background: $white;
				width: 100%;
				height: 100px;
				display: flex;
				justify-content: center;
				align-items: center;

				@include tablet-portrait {
					width: 25%;
				}

				.content {
					a {
						display: block;
					}
				}
			}

			.info {
				color: $blue;
				width: 100%;

				@include tablet-portrait {
					width: auto;
					flex: 1;
					padding: 0 0 0 50px;
				}

				a {
					color: $blue;

					&:hover {
						text-decoration: underline;
					}
				}

				h3 {
					font-weight: 900;
					font-size: 1.375em;
					line-height: 1.125em;
					padding: 0 0 5px 0;

					@include tablet-portrait {
						font-size: 1.5em;
					}
				}

				h4 {
					font-weight: 700;
					padding: 0 0 25px 0;
					font-size: 0.875em;
				}

				a.read-more {
					text-transform: uppercase;
					letter-spacing: 0.03em;
					font-weight: bold;

				}

			}
		}



	}

}