footer {
	padding: 100px 0 50px 0;
	background: $white url(images/trees.png) repeat-x bottom left;

	.wrapper {
		padding: 0 10px;

		@include tablet-portrait {
			padding: 0 25px;
		}
	}

	.social {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 0 25px 0;

		h5 {
			text-transform: uppercase;
			font-weight: 900;
			font-size: 1.125em;
			color: $dark-blue;
			transform: translateY(2px);
			padding: 0 0 20px 0;
			width: 100%;
			text-align: center;

			@include tablet-portrait {
				width: auto;
				padding: 0 20px 0 0;
			}
		}

		.links {
			display: flex;

			a {
				display: block;
				max-width: 24px;

				& + a {
					margin-left: 20px;
				}

				img {
					width: 100%;
				}
			}
		}
	}

	.footer-container {
		background: $gold url(images/footer-bg.jpg) no-repeat bottom right;
		background-size: cover;
		box-shadow: 0 0 40px rgba(23, 23, 23, 0.5);
		color: $white;
		padding: 50px 25px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		clip-path: polygon(95% 0, 100% 1.5%, 100% 100%, 5% 100%, 0 98.5%, 0 0);

		@include tablet-portrait {
			padding: 90px 80px 60px 80px;
			clip-path: polygon(90% 0, 100% 10%, 100% 100%, 15% 100%, 0 80%, 0 0);
		}

		.info {
			width: 100%;			
			
			@include tablet-portrait {
				width: 40%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			h2 {
				font-size: 2.5em;
				font-weight: 900;
				text-transform: uppercase;
			}

			p {
				padding: 20px 0 0 0;
				font-size: 1.5em;
				line-height: 1.125em;
				font-family: $united-sans-condensed;
			}

			.shape {
				display: none;
				

				@include tablet-portrait {
					display: block;
				}
			}
		}
	}

	.copyright {
		padding: 30px 0 0 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@include tablet-portrait {
			padding-left: 75px;
		}

		.links {
			text-align: center;
			width: 100%;
			padding: 0 0 25px 0;

			a {
				font-size: 0.875em;
				color: $blue;
				display: block;
				width: 100%;
				text-transform: uppercase;
				font-weight: bold;

				@include tablet-portrait {
					display: inline;
					width: auto;
				}

				& + a {
					margin: 10px 0 0 0;

					@include tablet-portrait {
						margin: 0 0 0 10px;

					}
				}


				&:hover {
					text-decoration: underline;
				}


			}

		}

		.message {
			text-align: center;
			width: 100%;

			p {
				color: $blue;
				font-size: 0.875em;
				line-height: 1.5em;

				a {
					color: $blue;
					text-decoration: underline;
					font-weight: 700;
				}
			}			
		}


	}
}