header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	.wrapper {
		padding-top: 25px;
	}

	@include tablet-landscape {
		padding-top: 70px;
	}


	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		z-index: 10001;
		a {
			img {
				max-width: 240px;

				@include desktop {
					max-width: 360px;
				}
			}
		}
	}

	#toggle {
		width: 40px;
	    cursor: pointer;
	    padding: 8px 0;
	    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);

	    @include tablet-portrait {
	    	display: none;
	    }

		.patty {
		    width: 30px;
		    height: 4px;
		    background: $white;
		    border-radius: 6px;
		    transition: all 0.3s;
		    margin-left: auto;
		    transform: translateX(10px);


			&:after, &:before {
			    content: '';
			    display: block;
			    width: 40px;
			    height: 4px;
			    background: $white;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			    border-radius: 6px;
			    transform: translateX(-10px);
			}
			&:before {
			    top: -10px;
			}
			&:after {
			    top: 10px;
			}
		}
	}

	&.open {

		#toggle .patty {
			background: none;
			z-index: 10001;
			transform: translateX(0px);

			&:after {
			    top: 0;
			    transform: rotate(45deg);
			}
			&:before {
			    top: 0;
			    transform: rotate(-45deg);
			}
		}

	}

	nav {
		display: none;

		@include tablet-portrait {
			display: block !important;
		}

		.nav-wrapper {
			display: flex;
			align-items: center;
			padding: 15px 0 0 0;
		}
		

		a {
			color: $white;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.5em;
			display: block;
			margin: 0 0 0 30px;
			padding: 0 0 5px 0;
			border-bottom: 2px solid transparent;
			position: relative;

			@include tablet-portrait {
				font-size: 0.8125em;
				font-weight: 900;
				white-space: nowrap;
				margin: 0 0 0 20px;
			}

			@include tablet-landscape {
				font-size: 0.875em;
			}

			@include desktop {
				font-size: 0.9375em;
			}

			&:after {
				display: block;
				content: '';
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background: $gold;
				position: absolute;
				left: 0;
				bottom: -4px;
				opacity: 0;
				transition: all 0.2s ease-in-out;
			}

			&:hover {
				@include active-link;
			}
		}

		.btn {
			background: $dark-blue;
			font-weight: bold;
			padding: 15px 20px 10px !important;
			white-space: nowrap;
			margin-top: -10px !important;
			display: block;
			border-bottom: none !important;;

			&:hover {
				border-bottom: none !important;;
				background: $dark-blue;
				color: $white !important;

				&:after {
					display: none;
				}
			}

			@include tablet-portrait {
				position: absolute;
				top: 50px;
				right: 0;
			}

			@include tablet-landscape {
				position: static;
				top: auto;
				right: auto;
			}
		}

		&.open {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 10000;
			background: $blue;

			.nav-wrapper {
				height: 100vh;
				flex-direction: column;
				text-align: center;
				justify-content: center;
			}

			a {
				color: $white;
				padding: 20px 0;
				display: inline-block;
				margin: 0;

				&:hover {
					border-bottom: 2px solid transparent;

					&:after {
						opacity: 0;
					}
				}
			}
		}
	}
}


// Featured Careers
body.post-type-archive-careers a.nav-featured-careers {
	@include active-link;
}


// Company Profiles
body.post-type-archive-companies a.nav-company-profiles,
body.single-companies  a.nav-company-profiles {
	@include active-link;
}


// Events
body.post-type-archive-events a.nav-events,
body.single-events  a.nav-events {
	@include active-link;
}

// About
body.page-template-about a.nav-about {
	@include active-link;
}


// Stay Updated
body.page-template-stay-updated a.nav-stay-updated {
	@include active-link;
}