body.home {

	header {
		@include tablet-portrait {
			.wrapper {
				padding-top: 75px;
				padding-left: 50px;
				padding-right: 50px;
				max-width: 1250px;
			}

			nav {
				a {
					margin: 0 0 0 20px;
					&:after {
						background: $white;
					}
					&:hover {
						color: $white;
						border-bottom-color: $white;
					}
				}
			}
		}

		@include tablet-landscape {
			.wrapper {
				padding-top: 0;
				padding-left: 25px;
			}

			nav {
				a {
					margin: 0 0 0 30px;
				}
			}
		}
	}


	section#hero {
		padding-top: 0;
		padding-bottom: 0;
		background: $white;

		&:after {
			display: none;
		}

		@include tablet-portrait {
			background: $blue url(images/trees.png) repeat-x 0 0;

		}

		.wrapper {
			padding: 0;
			max-width: 1250px;

			@include tablet-portrait {
				padding: 0 25px
			}

			@media screen and (min-width: 1250px) {
				padding: 0;
			}
		}

		.banner {
			background: $gold url(images/home-header.jpg) no-repeat top right;
			background-size: cover;
			padding: 100px 25px 50px 25px;
			z-index: 10;
			clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 100%, 0 100%);


			@include tablet-portrait {
				clip-path: polygon(15% 12%, 30% 12%, 37% 0, 100% 0, 100% 90%, 95% 100%, 0 100%, 0 33%);

				transform: translateY(50px);
			}

			.svg-header {
				img {
					margin: 0 auto;
				}
				
				.desktop {
					display: none;

					@include tablet-portrait {
						display: block;
						margin: 0 auto;
						min-height: 207px;
					}					
	
					@include tablet-landscape {
						min-height: 310px;
					}					

					@include desktop {
						min-height: 380px;
					}					

				}

				.mobile {
					max-width: 400px;
					margin: 0 auto;

					@include tablet-portrait {
						display: none;
					}
				}

			}

			.about-statement {
				padding: 25px 0;
				max-width: 768px;
				margin: 0 auto;
				text-align: center;

				@include tablet-portrait {
					padding: 50px 0;
					transform: translateY(-75px);
					margin-bottom: -75px;
				}

				@include tablet-landscape {
					transform: translateY(-125px);
					margin-bottom: -125px;
				}

				@include desktop {
					transform: translateY(-150px);
					margin-bottom: -150px;
				}


				p {
					font-size: 1.25em;
					line-height: 1.375em;

					@include tablet-portrait {
						font-size: 1.5em;
					}	
				}


			}

			.cta {
				text-align: center;
			}


		}

	}


	section#trees-divider {
		background: url(images/trees.png) no-repeat center top -100px;
		padding: 100px 0;

		@include desktop {
			transform: translateY(0);
			margin-bottom: 0;
		}
	}

	
	section#companies-list {
		margin-top: -200px;
		z-index: 1;

		@include tablet-portrait {
			margin-top: -50px;
		}

		.section-header {
			@include tablet-portrait {
				text-align: center;
			}			

			h2 {
				font-family: $united-sans;
				font-weight: 900;
				font-size: 2.25em;

				@include tablet-portrait {
					font-size: 4em;
				}
			}
		}

		.cta {
			padding: 40px 0 20px 0;
			text-align: center;

			@include tablet-portrait {
				padding: 40px 0 90px 0;
			}
		}
	}


	section#carousel-header {
		background: url(images/trees.png) no-repeat center top;
		background-size: cover;
		padding: 10px 0;

		.section-header {
			@include tablet-portrait {
				text-align: center;
			}			

			h2 {
				font-family: $united-sans;
				font-weight: 900;
				font-size: 2.25em;

				@include tablet-portrait {
					font-size: 4em;
				}
			}
		}
	}


	section#carousel {
		z-index: 100;

		.slick-list {
			top: 60px;
			background: $blue;
		}

		.slick-prev,
		.slick-next {
			position: absolute;
			top: 0;
			width: 80px;
			height: 60px;
			transform: none;
			background-color: $blue;
			background-position: center center;
			z-index: 10000;
			display: block !important;
		}

		.slick-prev {
			left: 0;
			background-image: url(images/prev-home.png);
			clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%, 0 35%);

			@include tablet-portrait {
				left: 50%;
				margin-left: -143px;
			}
		}

		.slick-next {
			background-image: url(images/next-home.png);
			clip-path: polygon(70% 0, 100% 35%, 100% 100%, 0 100%, 1% 0);
			right: 0;

			@include tablet-portrait {
				right: 50%;
				margin-right: -143px;
			}
		}

		.slick-dots {
			position: absolute;
			bottom: auto;
			top: 0;
			width: 100%;
			height: 60px;
			margin: 0 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 10px;
			background:$blue;

			@include tablet-portrait {
				background: transparent;
			}

			li {
				background: $blue;
				height: 60px;
				width: auto;
				display: flex;
				align-items: center;
				margin: 0;
				padding: 0 10px;


			}

			li button:before {
				width: 12px;
				height: 12px;
				box-shadow: none;
				position: relative;
				top: -5px;
				left: -5px;
				display: block;
			}

			li.slick-active button:before {
				background: $gold;
			}
		}

		.slide.profile .quote {
			background: $gold url(images/footer-bg.jpg) no-repeat center center;
			background-size: cover;

		}
	}


	section#why-colorado {
		background: $blue;
		color: $white;
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.section-header {
			max-width: 880px;
			padding-bottom: 120px;

			@include tablet-portrait {
				text-align: center;

			}

			h2 {
				font-family: $united-sans;
				color: $white;
				font-size: 2.5em;
				padding: 0 0 20px 0;

				@include tablet-portrait {
					font-size: 3.5em;
				}
			}

			p {
				font-size: 1.125em;
				line-height: 1.25em;
				color: $white;

				@include tablet-portrait {
					font-size: 1.25em;
				}
			}
		}

		#why-carousel {

			.slick-list {
				top: 0;

				.slide {
					&:focus,
					&:active {
						outline: none;
					}
				}
			}

			.slick-prev,
			.slick-next {
				position: absolute;
				top: -80px;
				width: 80px;
				height: 60px;
				transform: none;
				background-color: $blue;
				background-position: center center;
				background-repeat: no-repeat;
				z-index: 10000;
				display: block !important;
			}

			.slick-prev {
				left: 0;
				background-image: url(images/prev-home.png);
				clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%, 0 35%);

				@include tablet-portrait {
					left: 50%;
					margin-left: -143px;
				}
			}

			.slick-next {
				right: 0;
				background-image: url(images/next-home.png);
				clip-path: polygon(70% 0, 100% 35%, 100% 100%, 0 100%, 1% 0);

				@include tablet-portrait {
					right: 50%;
					margin-right: -143px;
				}
			}

			.slick-dots {
				position: absolute;
				bottom: auto;
				top: -80px;
				width: 100%;
				height: 60px;
				margin: 0 auto;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 10px;

				li {
					background: $blue;
					height: 60px;
					width: auto;
					display: flex;
					align-items: center;
					margin: 0;
					padding: 0 10px;


				}

				li button:before {
					width: 12px;
					height: 12px;
					box-shadow: none;
					position: relative;
					top: -5px;
					left: -5px;
					display: block;
				}

				li.slick-active button:before {
					background: $gold;
				}
			}



			.slide {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;

				.stat {
					width: 100%;
					max-width: 200px;
					margin: 0 auto;
					@include aspect-ratio(1,1);
					background: $dark-blue;
					clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%, 0 25%);

					@include tablet-portrait {
						width: 33.3333%;
					}

					.content {
						display: flex;
						justify-content: center;
						align-items: center;

						h4 {
							font-size: 5em;
							font-family: $united-sans;
							font-weight: 900;
						}
					}
				}

				.info {
					text-align: center;
					width: 100%;
					padding: 50px 25px 0 25px;

					@include tablet-portrait {
						text-align: left;
						width: 66.6666%;
						padding: 0 0 0 50px;
					}

					h2 {
						font-size: 2em;
						font-family: $united-sans;
						font-weight: 900;
						text-transform: uppercase;
						max-width: 640px;

						@include tablet-portrait {
							font-size: 4.5em;
						}
					}

					h3 {
						font-size: 1.25em;
						font-family: $united-sans;
						font-weight: 700;
						text-transform: uppercase;
						letter-spacing: 0.01em;
						padding: 20px 0 0 0;

						@include tablet-portrait {
							font-size: 1.5em;
						}
					}

				}
			}

		}

		#latest {
			margin-top: 50px;
			border-top: 1px solid $white;
			padding-top: 50px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			section#upcoming-events,
			section#latest-news {
				width: 100%;
				text-align: center;

				@include tablet-landscape {
					width: 50%;
				}

				h5 {
					color: $gold;
					font-family: $united-sans;
					text-transform: uppercase;
					letter-spacing: 0.02em;
					font-weight: 900;
					font-size: 1.25em;
					padding: 0 0 50px 0;
				}

				a.read-more {
					color: $white;
					text-transform: uppercase;
					letter-spacing: 0.03em;
					font-weight: bold;

					&:hover {
						text-decoration: underline;
					}
				}

				.cta {
					padding-top: 50px;
				}
			}

			section#upcoming-events {
				.event {
					max-width: 300px;
					margin: 0 auto;
					.image {
						padding: 0 0 20px 0;

						a {
							display: block;
						}

						img {
							margin: 0 auto;
							clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
						}
					}

					.info {
						h3 {
							font-size: 1.5em;
							font-weight: 700;
							padding: 0 0 10px 0;
							
							a {
								color: $white;
								
								&:hover {
									text-decoration: underline;
								}
							}

						}

						h4 {
							font-size: 1.125em;
							font-weight: 700;
							padding: 0 0 50px 0;
						}
					}
				}
			}

			section#latest-news {
				padding: 100px 0 0 0;

				@include tablet-portrait {
					padding: 0;
				}

				.news {
					max-width: 300px;
					margin: 0 auto;

					.image {
						background: $white;
						@include aspect-ratio(4, 3);
						clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 20%);

						.content {
							display: flex;
							justify-content: center;
							align-items: center;

							a {
								display: block;
							}
						}
					}

					.info {
						padding: 20px 0 0 0;

						h3 {
							font-size: 1.5em;
							line-height: 1.125em;
							font-weight: 700;
							padding: 0 0 20px 0;

							a {
								color: $white;
							}
						}

					}
				}
			}


		}


	}

	footer {
		padding-top: 50px;
	}




}