body.single-companies {
	background: $blue;

	section#hero {
		padding: 150px 0 50px 0;
    	background-position: top center;
    	background-size: cover;
    	background-repeat: no-repeat;

    	&:before {
    		content: '';
    		display: block;
    		width: 100%;
    		height: 100%;
    		position: absolute;
    		top: 0;
    		left: 0;
    		background:linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 100% );

    	}

		&:after {
			display: none;
		}

		@include tablet-portrait {
			padding: 200px 0 200px 0;
		}

		@include tablet-landscape {
			padding: 200px 0 400px 0;
		}




	}

	section#hero-info {
		.back-to-all {
			display: flex;
			transform: translate(5%, -60px);
			z-index: 1000;

			@include tablet-portrait {
				transform: translate(60px, -120px);
			}

			span {
				text-transform: uppercase;
				font-size: 0.875em;
				display: block;
				color: $white;
				font-weight: 700;
				line-height: 15px;
			}

			span:before {
				display: inline-block;
				background: url(images/back-small.png) no-repeat 0 0;
				width: 15px;
				height: 15px;
				content: '';
				margin: 0 10px 0 0;
				transform: translateY(3px);

			}
		}

		.info {
			background: $white url(images/company-profile-bg.jpg) no-repeat top right;
			background-size: cover;
			color: $slate;
			transform: translateY(-50px);
			padding: 40px 25px;
			margin-bottom: -20px;
			clip-path: polygon(30px 0, 180px 0, 210px 30px, 100% 30px, 100% 95%, 95% 100%, 0 100%, 0 30px);


			@include tablet-portrait {
				transform: translateY(-100px);
				padding: 50px 50px;
				margin-bottom: -100px;
				clip-path: polygon(50px 0, 300px 0, 350px 50px, 100% 50px, 100% 85%, 95% 100%, 0 100%, 0 50px);

			}



			.header {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				padding: 15px 0 30px 0;
				border-bottom: 1px solid $dark-blue;
				margin: 0 0 30px 0;

				@include tablet-portrait {
					padding: 15px 0 15px 0;
					margin: 0 0 70px 0;
				}

				.logo {
					width: 100%;
					margin-top: -30px;
					display: flex;

					img {
						max-width: 120px;
						max-height: 64px;
						margin-right: auto;

						@include tablet-portrait {
							max-width: 215px;

						}
					}					
				}

				.tagline {
					padding: 20px 0 20px 0;
					width: 100%;

					@include tablet-portrait {
						width: 60%;
					}

					p {
						font-weight: bold;
						font-size: 0.875em;
						line-height: 1.25em;
					}
				}

				.careers-link {
					padding: 20px 0 0 0;

					a {
						color: $dark-blue;
						text-transform: uppercase;
						letter-spacing: 0.02em;
						font-size: 0.875em;
						font-weight: bold;

						@include tablet-portrait {
							transform: translateX(-27px);
						}
						
					}
				}

			}

			.description {
				p {
					color: $black;
					font-size: 1.125em;
					line-height: 1.25em;

					@include tablet-portrait {
						font-size: 1.5em;
					}
				}


			}



		}

	}

	section#content {
		color: $white;
		padding: 50px 0 0 0;

		@include tablet-portrait {
			padding: 75px 0 0 0;

		}
		.wrapper {
			max-width: 960px;
		}

		.line {
			top: -130px;
			right: 0;
			left: auto;
			z-index: 1;

			@include desktop {
				right: -100px;
			}

			.hotspot,
			.pulse {
				right: -20px;
				left: auto;
				bottom: -15px;
				z-index: 1000;
			}
		}



		h3, h4, h5 {
			font-weight: 900;
			text-transform: uppercase;
			padding: 0 0 20px 0;
			font-size: 1.5em;
			line-height: 1.125em;

			@include tablet-portrait {
				font-size: 1.75em;
			}
		}

		p {
			padding: 0 0 45px 0;
			font-size: 1.125em;
			line-height: 1.6667em;
		}

		p + h3 {
			padding-top: 15px;

			@include tablet-portrait {
				padding-top: 45px;
			}
		}

		ul {
			list-style-type: disc;
		}

		ol {
			list-style-type: decimal;

		}

		ol, ul {
			padding: 0 0 25px 50px;
			li {
				padding: 0 0 20px 0;
				font-size: 1em;
				line-height: 1.6667em;
			}
		}



		.embed {
			padding: 0 0 60px 0;

			@include tablet-portrait {
				padding: 0 0 90px 0;
			}
		}

	}

	section#carousel-header {
		padding: 45px 0 30px 0;

		h2 {
			color: $white;
			text-transform: uppercase;
			font-weight: 900;
			font-size: 1.75em;

			@include tablet-portrait {
				font-size: 2.25em;
			}
		}

	}

	section#careers {
		padding: 100px 0;
		color: $white;


		h2 {
			font-weight: 900;
			text-transform: uppercase;
			padding: 0 0 20px 0;
			border-bottom: 1px solid $white;
			margin: 0 0 20px 0;
			font-size: 1.75em;

			@include tablet-portrait {
				font-size: 2.25em;
			}
		}


		.career {
			padding: 30px 20px;
			background: #1d4677;
			margin: 0 0 20px 0;

			h4 {
				font-weight: 900;
				font-size: 1.25em;

				@include tablet-portrait {
					font-size: 1.875em;
				}

				a {
					color: $yellow;
					display: flex;
					align-items: center;
					justify-content: space-between;

					&:after {
						content: '';
						display: inline-block;
						width: 24px;
						height: 24px;
						background: url(images/right-arrow-yellow.png) no-repeat 0 0;
						background-size: 100%;

						@include tablet-portrait {
							width: 47px;
							height: 47px;
						}
					}
				}
			}
		}

		.meta {
			padding: 80px 0 0 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			.btn {
				min-width: 215px;
				text-align: center;
			}

			.social {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				width: 100%;
				padding: 40px 0 0 0;

				@include tablet-landscape {
					width: auto;
					justify-content: flex-end;
					padding: 0;
				}


				h4 {
					text-transform: uppercase;
					letter-spacing: 0.03em;
					font-weight: 900;
					font-size: 1.125em;
					transform: translateY(2px);
					padding: 0 0 20px 0;
					width: 100%;

					@include tablet-landscape {
						padding: 0 40px 0 0;
						width: auto;
						text-align: right;
					}
				}

				.link {

					& + .link {
						padding: 0 0 0 30px;
					}
					
					a {
						display: block;

						img {
							height: 24px;
						}				
	
					}
				}
			}

		}
	}

	section#content + section#careers {
		padding-top: 25px;
	}




}