body.single-events {
	background: url(images/hero-bg.jpg) no-repeat top center;
	background-size: 100%;
	background-color: $blue;

	&:after {
		content: '';
		background: url(images/trees.png) repeat-x 0 0;
		background-size: 100%;
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		z-index: -1;
	}

	.back-to-all {
		display: flex;

		span {
			text-transform: uppercase;
			font-size: 0.875em;
			display: block;
			color: $white;
			font-weight: 700;
			line-height: 15px;
		}

		span:before {
			display: inline-block;
			background: url(images/back-small.png) no-repeat 0 0;
			width: 15px;
			height: 15px;
			content: '';
			margin: 0 10px 0 0;
			transform: translateY(3px);

		}
	}


	section#hero {
		background: none;
		text-align: center;
		padding-bottom: 50px;
		
		@include tablet-portrait {
			text-align: left;
		}

		.back-to-all {
			padding-top: 20px;

			@include tablet-landscape {
				transform: translate(-150px, -130px);
			}			
		}

		.wrapper {
			max-width: 720px;

		}

		h1 {
			text-align: center;
			font-size: 2em;
			padding: 0 0 20px 0;

			@include tablet-portrait {
				padding: 100px 0 20px 0;
				font-size: 3em;
				text-align: left;
			}

			@include desktop {
				font-size: 4em;
			}
		}

		h2.dates {
			font-weight: 900;
			font-size: 1.25em;
			padding: 0 0 5px 0;

			@include tablet-portrait {
				font-size: 1.5em;
			}
		}

		h2.location {
			font-size: 1.25em;
			font-family: $united-sans-condensed;
			text-transform: uppercase;
			letter-spacing: 0.03em;

			@include tablet-portrait {
				font-size: 1.5em;
			}
		}

		&:after {
			display: none;
		}
	}

	section#content {
		color: $white;

		.wrapper {
			max-width: 880px;
		}

		.image {
			max-width: 80%;
			margin: 0 auto;

			img {
				width: 100%;
				clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
			}
		}

		.copy {
			max-width: 80%;
			margin: 0 auto;
			padding: 50px 0 20px 0;

			h3, h4, h5 {
				font-weight: 900;
				text-transform: uppercase;
				padding: 0 0 20px 0;
				font-size: 1.5em;
				line-height: 1.125em;

				@include tablet-portrait {
					font-size: 1.75em;
				}
			}

			a {
				color: $white;
				text-decoration: underline;
			}

			p {
				padding: 0 0 30px 0;
				font-size: 1em;
				line-height: 1.375em;
			}

			p + h3 {
				padding-top: 15px;

				@include tablet-portrait {
					padding-top: 45px;
				}
			}

			ul {
				list-style-type: disc;
			}

			ol {
				list-style-type: decimal;

			}

			ol, ul {
				padding: 0 0 30px 50px;
				li {
					padding: 0 0 20px 0;
					font-size: 1em;
					line-height: 1.375em;
				}
			}

		}

		blockquote {
			padding: 0;
			margin: 0;

			p {
				color: $white;
				font-weight: 900;
				font-size: 2em;

				@include tablet-portrait {
					font-size: 3em;
				}
			}
		}
	}

	section#details {
		color: $white;
		padding: 100px 0 50px 0;

		.wrapper {
			max-width: 880px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	
		h4 {
			width: 100%;
			font-weight: 900;
			font-size: 1.25em;
			padding: 0 0 20px 0;
		}

		.map {
			width: 100%;
			
			@include tablet-portrait{
				width: 47.5%;
			}

			.acf-map {
				width: 100%;
				height: 400px;

				@include tablet-portrait {
					height: 300px;
				}
				
				img {
				   max-width: inherit !important;
				}

			}
		}

		.info {
			width: 100%;
			padding-top: 50px;

			@include tablet-portrait{
				width: 47.5%;
				padding: 0 0 0 30px;
			}

			p {
				font-weight: 900;
				font-size: 1.25em;

				& + p {
					padding: 10px 0 0 0;
				}
			}
		}

		.back-to-all {
			padding-top: 50px;

			@include tablet-landscape {
				padding-top: 0;
				transform: translate(-150px, 130px);
			}			
		}

	}

	section#share {
		padding: 50px 0 150px 0;

		@include tablet-portrait {
			padding: 50px 0 300px 0;
		}
	}


	footer {
		padding-top: 0;

		.wrapper {
			transform: translateY(-100px);
			margin-bottom: -100px;

			@include tablet-portrait {
				transform: translateY(-200px);
				margin-bottom: -200px;
			}
		}
	}
}