html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $united-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $united-sans;
	font-weight: normal;
}

p {

}

a {
	color: $slate;
	transition: all 0.2s ease-in-out;
}

h1.invisible {
	display: none;
}


a.arrow {
	display: inline-block;
	text-decoration: none;
	padding-top: 10px;
	border-top: 2px solid $blue;
	position: relative;

	&:hover {
		text-decoration: underline;
	}

	&:after {
		display: block;
		content: '';
		width: 27px;
		height: 28px;
		background: url(images/link-arrow.png) no-repeat 0 0;
		position: absolute;
		top: -2px;
		right: -26px;
	}
}

.section-header {
	padding: 90px 0;
	max-width: 720px;
	margin: 0 auto;

	h2 {
		text-transform: uppercase;
		font-weight: 900;
		letter-spacing: 0.03em;
		color: $dark-blue;
		font-family: $united-sans-condensed;
		font-size: 3em;
		padding: 0 0 10px 0;
	}

	p {
		color: $blue;
		font-size: 1.25em;
		line-height: 1.25em;

	}

}

.btn {
	background: $red;
	color: $white;
	border: none;
	display: inline-block;
	padding: 20px 30px 17px 30px;
	text-transform: uppercase;
	font-weight: 700;
	clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
	
	&:hover {
		background: $red-hover;
	}
}