/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #F4F4F2;
$charcoal: #424242;
$slate: #2a2a2a;
$black: #000;


$gold: #d1aa2c;
$dark-gold: #b99627;
$blue: #285488;
$dark-blue: #002868;
$red: #be0a30;
$yellow: #fed600;

$red-hover: #940725;


/* Typography
----------------------------------*/
$fontdir: "fonts/";

@font-face {
    font-family: 'United Sans';
    src: url($fontdir + 'UnitedSansRgMd.woff2') format('woff2'), url('UnitedSansRgMd.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

@font-face {
    font-family: 'United Sans';
    src: url($fontdir + 'UnitedSansRgBd.woff2') format('woff2'), url('UnitedSansRgBd.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: 'United Sans';
    src: url($fontdir + 'UnitedSansRgHv.woff2') format('woff2'), url('UnitedSansRgHv.woff') format('woff');
    font-style: normal;
    font-weight: 900;
    font-stretch: normal;
}

@font-face {
    font-family: 'United Sans Condensed';
    src: url($fontdir + 'UnitedSansCdMd.woff2') format('woff2'), url('UnitedSansCdMd.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}





$schoolbook: "schoolbook", serif;
$averta: 'averta', sans-serif;
$united-sans: 'United Sans', sans-serif;
$united-sans-condensed: 'United Sans Condensed', sans-serif;