section#carousel {

	.slide {
		background: $white;


		&.profile {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			& > div {
				width: 100%;

				@include mobile-landscape {
					width: 50%;
				}
				
			}

			.image {				

				@include tablet-portrait {
					max-height: 90vh;
				}

				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}

			.quote {
				background: $gold;
				color: $black;
				padding: 50px 25px;
				display: flex;
				justify-content: center;
				align-items: center;

				@include tablet-landscape {
					padding: 50px;
				}

				blockquote {
					padding: 0;
					margin: 0 auto;
					max-width: 90%;

					@include tablet-landscape {
						max-width: 75%;
					}

					p {
						font-size: 1.25em;
						line-height: 1.2em;
						font-family: $united-sans-condensed;
						font-weight: normal;

						@include tablet-portrait {
							font-size: 1.5em;
						}


						@include desktop {
							font-size: 2em;
						}
					}
				}

				.meta {
					padding: 20px 0 0 0;
					margin: 0 auto;
					max-width: 90%;

					@include tablet-landscape {
						max-width: 75%;
					}

					@include tablet-landscape {
						padding: 50px 0 0 0;
					}

					h4 {
						font-size: 1.125em;	
						padding: 0 0 5px 0;
					}

					h5 {
						font-size: 0.875em;
						padding: 0 0 10px 0;
					}

					h6 {
						font-size: 0.875em;
						text-transform: uppercase;
					}
				}
			}
			

		}

		&.video {
			
			.poster {				

				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
					min-height: 400px;
				}

				.meta {
					position: absolute;
					color: $white;
					bottom: 0;
					left: 0;
					width: 100%;
					padding: 0 0 45px 0;

					.wrapper {
						max-width: 780px;
					}

					@include tablet-landscape {
						padding: 0 0 90px 0;
					}


					h4 {
						font-size: 1.125em;	
						padding: 0 0 5px 0;

						&:before {
							content: '';
							display: block;
							width: 64px;
							height: 64px;
							background: url(images/play-btn.png) no-repeat 0 0;
							background-size: 100%;
							margin: 0 0 20px 0;
						}
					}

					h5 {
						font-size: 0.875em;
						padding: 0 0 10px 0;
					}

					h6 {
						font-size: 0.875em;
						text-transform: uppercase;
					}

				}
			}

		}
	}



	.slick-dots {
		z-index: 1000;
		bottom: 25px;
	}

	.slick-prev,
	.slick-next {
		background-size: 100%;
		height: 66px;
		width: 36px;
		display: none;
		top: 20%;

		@include tablet-portrait {
			display: block;
			top: 40%;
		}
	}

	.slick-prev {
		background: url(images/prev.png) no-repeat 0 0;
	}

	.slick-next {
		background: url(images/next.png) no-repeat 0 0;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;
		opacity: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.75);
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateY(100%);

		&.open {
			opacity: 1;
			transform: translateY(0);
			transition: 0.2s;

			.close {
				color: $white;
				position: absolute;
				display: block;
				top: 20px;
				right: 20px;
				z-index: 10000;
				font-size: 1.5em;
				font-family: 'Arial', sans-serif;

				@include tablet-portrait {
					top: 40px;
					right: 40px;
				}
			}
		}

		.overlay-wrapper {
			max-width: 960px;
			width: 100%;
			padding: 40px;
			background: $black;
			border-radius: 6px;
			box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);

			.embed {
				width: 100%;
			}
		}
	}

}
