.company-minimal {
	border: 3px solid #eaeaea;
	padding: 20px;
	margin: 0 0 20px 0;	
	width: 47.5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $white;
	@include aspect-ratio(1, 1);

	@include mobile-landscape {
		width: 30.8333%;
	}

	@include tablet-portrait {
		width: 190px;
		margin: 0 20px 20px 20px;
	}


	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;

		a {
			display: block;
			width: 100%;
		}

		img {			
			max-width: 120px;
			max-height: 56px;	
			margin: 0 auto;

			&[src$=".svg"] {
				width: 100%;
			}
		}
	}
}