.fact-overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10000;
	display: none;
	background: rgba(0, 40, 104, 0.9);

	&.open {
		display: block;
	}


	.fact-close {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 10000;

		a {
			color: $white;
			width: 40px;
			height: 40px;
			display: block;
			position: relative;

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 40px;
			    height: 1px;
			    background: $blue;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			    border-radius: 6px;
			}
			&:before {
			    top: 20px;
			    transform: rotate(-45deg);
			}
			&:after {
			    top: 20px;
			    transform: rotate(45deg);
			}
		}
	}

	.overlay-wrapper {
		max-width: 840px;
		height: 100vh;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;

	}

	.content {
		background: $white;
		padding: 100px 50px;
		border-radius: 2px;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 80%);	

		@include tablet-portrait {
			padding: 100px;
		}

	}

	.info {

		h4 {
			padding: 0 0 20px 0;
			display: flex;
			align-items: center;

			.headline {
				color: $red;
				font-weight: 900;
				text-transform: uppercase;
				letter-spacing: 0.02em;
				font-size: 1.25em;
				display: block;
				padding: 0 20px 0 0;

				@include tablet-portrait {
					font-size: 2em;
				}
			}

			.logo {
				max-width: 200px;
				padding: 0 20px 20px 0;

				img {
					width: 100%;
				}
			}

			.arrow-line {
				height: 2px;
				background: $dark-blue;
				display: block;
				flex: 1;
				transform: translateY(-4px);
			}

			.arrow {
				background: url(images/link-arrow.png) no-repeat right center;
				width: 27px;
				height: 28px;
				display: block;
				transform: translateY(9px);
			}
		}

		h3 {
			color: $dark-blue;
			font-weight: 900;
			text-transform: uppercase;
			letter-spacing: 0.02em;
			font-size: 2em;

			@include mobile-landscape {
				font-size: 3em;
			}

			@include tablet-portrait {
				font-size: 4em;
			}
		}

		span.source {
			color: $dark-blue;
			display: block;
			padding: 15px 0 0 0;
		}
	}

	.view-more {
		padding: 40px 0 0 0;
		text-align: right;

		a {
			text-transform: uppercase;
			color: $dark-blue;
			font-weight: bold;
			font-size: $united-sans-condensed;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}


body.single-companies {

	.fact-overlay .view-more {
		display: none;
	}
	
}
