section#hero {
	background: url(images/trees.png) repeat-x 0 0, url(images/hero-bg.jpg) no-repeat center center;
	background-size: cover;
	color: $white;
	padding: 150px 0 50px 0;

	@include tablet-portrait {

		&:after {
			content: '';
			background: $white;
			height: 50px;
			width: 100%;
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 100;
			clip-path: polygon(0 0, 32% 0, 35% 50px, 65% 50px, 68% 0, 100% 0, 100% 100%, 0 100%);
		}
	}


	@include tablet-landscape {
		padding: 200px 0 100px 0;
	}

	h1 {
		text-align: center;
		font-weight: 900;
		text-transform: uppercase;
		font-size: 3em;

		@include tablet-portrait {
			font-size: 6.25em;
		}
	}

	.deck {
		max-width: 660px;
		margin: 0 auto;
		padding: 20px 0 0 0;

		p {
			font-size: 1.5em;
			line-height: 1.25em;
		}
	}
}