.line {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;


	@include tablet-landscape {
		display: block;
	}

	.hotspot {
		display: block;
		width: 59px;
		height: 59px;
		background: url(images/hotspot.png) no-repeat 0 0;
		text-indent: -9999px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 20;
	}
}

.pulse {
	width: 59px;
	height: 59px; 
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(190,10,48, 0.15);
		border-radius: 50px;
		opacity: 0;
	}
  
	&:before {
		transform: scale(1);
		animation: pulse 3s infinite linear;
	}

	&:after {
		animation: pulse 3s 2s infinite linear;
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.6);
		opacity: 0;
	}
	33% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(1.4);
		opacity: 0;
	}
}