section#share {

	padding: 0 0 80px 0;

	h5 {
		color: $white;
		text-align: center;
		text-transform: uppercase;
		padding: 0 0 30px 0;
	}

	.links {
		display: flex;
		width: 100%;
		justify-content: center;

		a {
			display: block;
			padding: 0 15px;

			img {
				height: 24px;
			}
		}
	}
}