.tabs {
	transform: translateY(50px);
	overflow: scroll;
	white-space: nowrap;
	text-align: center;
	display: flex;
	z-index: 20;
	
	@include tablet-landscape {
		display: flex;
		transform: translateY(100px);
		overflow: visible;
		justify-content: center;

	}
	

	a {
		color: $white;
		display: inline-block;
		margin: 0 10px;
		padding: 20px 25px;
		text-align: left;
		font-size: 0.75em;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.01em;
		line-height: 1.25em;
		clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 15%);

		&:first-of-type {
			margin-left: 0;
		}

		@include desktop {
			margin: 0 30px;
			font-size: 1em;
			text-align: center;
		}


		&:hover,
		&.active {
			background: $gold;
			color: $black;

		}
	}
}